/*Général*/

html,body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
}

/*Header*/

.header{
display: flex;
width: auto;
justify-content: center;
align-items: center;
}

h1{
    color: #ffff;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}

/*Body*/

.listeImage{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.imgSup{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    margin: 50px;
}

.carteImg{
    width: 300px;
    height: 300px;
    margin: 50px;
}

.carteImg:hover{
    cursor: pointer;
    transform: scale(1.1)
}

.lot1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.lot2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.img1{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.img2{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.img3{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.img4{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.imgMid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    margin: 50px;
}

.lot3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.lot4{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.img5{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.img6{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.img7{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.img8{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.imgInf{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    justify-content: center;
    margin: 50px;
}

.lot5{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.lot6{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.img9{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.img10{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.img11{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}

.img12{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}